.energy-mix-header {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 25px;
}

.energy-mix-header h1 {
  font-weight: 500;
  margin-bottom: 0;
}

.energy-mix-header h2 {
  font-weight: 500;
  margin-top: 5px;
  font-size: 15px;
  color: #666;
}