.optimizer-container {
  margin-top: 48px;
  margin-bottom: 100px;
  padding: 32px;
  background: #f5f7fa;
  border-radius: 20px;

}

.optimizer-header {
  text-align: center;
  margin-bottom: 32px;
}

.optimizer-header h1 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 8px;
}

.optimizer-subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: #777;
}